---
services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    ports:
      - "9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ appdata_dir }}/portainer:/data
    restart: unless-stopped

  dashboard:
    image: nginx:alpine
    container_name: dashboard
    volumes:
      - {{ appdata_dir }}/dashboard:/usr/share/nginx/html:ro
    restart: unless-stopped

  haproxy:
    image: haproxy:alpine
    container_name: haproxy
    ports:
      - "80:80"
      - "443:443"
      - "8404:8404"
    volumes:
      - {{ appdata_dir }}/haproxy/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
      - {{ appdata_dir }}/haproxy/cert.pem:/usr/local/etc/haproxy/cert.pem:ro
    restart: unless-stopped
    depends_on:
      - dashboard
      - bazarr
      - jackett
      - overseerr
      - prowlarr
      - radarr
      - sonarr
      - qbittorrentvpn

  samba:
    image: dperson/samba
    container_name: samba
    ports:
      - "139:139"
      - "445:445"
    volumes:
      - {{ appdata_dir }}:/appdata
      - {{ media_dir }}:/media
    environment:
      - TZ=America/New_York
      - USERID=99
      - GROUPID=100
      - SHARE=appdata;/appdata;yes;no;no;all;all;all
    restart: unless-stopped

  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    ports:
      - "6767:6767"
    volumes:
      - {{ media_dir }}:/movies
      - {{ media_dir }}:/tv
      - {{ appdata_dir }}/bazarr:/config
    restart: unless-stopped

  qbittorrentvpn:
    image: binhex/arch-qbittorrentvpn:latest
    container_name: qbittorrentvpn
    privileged: true
    ports:
      - "6881:6881"
      - "6881:6881/udp"
      - "8080:8080"
      - "8118:8118"
    volumes:
      - {{ downloads_dir }}:/data
      - {{ appdata_dir }}/binhex-qbittorrentvpn:/config
    environment:
      - VPN_ENABLED=yes
      - VPN_PROV=custom
      - VPN_CLIENT=openvpn
      - VPN_OPTIONS=
      - STRICT_PORT_FORWARD=yes
      - ENABLE_PRIVOXY=no
      - ENABLE_STARTUP_SCRIPTS=no
      - WEBUI_PORT=8080
      - LAN_NETWORK={{ lan_network }}
      - NAME_SERVERS={{ name_servers }}
      - VPN_INPUT_PORTS=
      - VPN_OUTPUT_PORTS=
      - DEBUG=false
      - UMASK=000
      - PUID=99
      - PGID=100
    restart: unless-stopped

  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    ports:
      - "9117:9117"
    volumes:
      - {{ appdata_dir }}/jackett/downloads:/downloads
      - {{ appdata_dir }}/jackett:/config
    restart: unless-stopped

  overseerr:
    image: lscr.io/linuxserver/overseerr:latest
    container_name: overseerr
    ports:
      - "5055:5055"
    volumes:
      - {{ appdata_dir }}/overseerr:/config
    restart: unless-stopped

  plex:
    image: plexinc/pms-docker:latest
    container_name: plex
    network_mode: host
    devices:
      - /dev/bus/usb:/dev/bus/usb
    environment:
      - TZ=America/New_York
      - VERSION=docker
    volumes:
      - {{ appdata_dir }}/Plex-Media-Server:/config
      - {{ transcode_dir }}:/transcode
      - {{ media_dir }}:/data
    restart: unless-stopped

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    ports:
      - "9696:9696"
    volumes:
      - {{ appdata_dir }}/prowlarr:/config
    restart: unless-stopped

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    ports:
      - "7878:7878"
    volumes:
      - {{ appdata_dir }}/radarr:/config
      - {{ media_dir }}:/movies
      - {{ downloads_dir }}:/downloads
      - {{ media_dir }}:/data
    restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    ports:
      - "8989:8989"
    volumes:
      - {{ appdata_dir }}/sonarr:/config
      - {{ media_dir }}:/tv
      - {{ downloads_dir }}:/downloads
      - {{ media_dir }}:/data
    restart: unless-stopped
