[Application]
FileLogger\Age=1
FileLogger\AgeType=1
FileLogger\Backup=true
FileLogger\DeleteOld=true
FileLogger\Enabled=true
FileLogger\MaxSizeBytes=66560
FileLogger\Path=/config/qBittorrent/data/logs

[AutoRun]
enabled=false
program=

[BitTorrent]
ExcludedFileNamesEnabled=true
Session\AddTorrentStopped=false
Session\AlternativeGlobalDLSpeedLimit=0
Session\AlternativeGlobalUPSpeedLimit=0
Session\DefaultSavePath=/downloads
Session\ExcludedFileNames=*.ink,*.zipx,*sample.mov,*sample.avi,*sample.mp4,*.py,*.vbs,*.html,*.php,*.torrent,*.exe,*.bat,*.cmd,*.com,*.cpl,*.dll,*.js,*.jse,*.msi,*.msp,*.pif,*.scr,*.vbe,*.wsf,*.wsh,*.hta,*.reg,*.inf,*.ps1,*.ps2,*.psmi,*.psd1,*.sh,*.bash,*.apk,*.app,*.ipa,*.iso,*.jar,*.bin,*.tmp,*.vb,*.tvxd,*.ock,*.dry,*.sys,*.scf,*.ade,*.adp,*.bas,*.chm,*.ort,*.hip,*.ins,*.isp,*.key,*.mda,*.mdb,*.mdt,*.mdz,*.potm,*.potx,*.ppam,*.ppsx,*.pptm,*.sldm,*.xlsm,*.xltm,*.insh,*.mht,*.mhtml,*.mdw,*.xlam,*.xlsb,*.sldx,*.img,*.dmg,*.docm,*.zip,*.rar,*.tar,*.gz,*.7z,*BDISO*,*DVDR*,*DVD-R*,*DVDISO*,*sample*,*CAM*RIP*,*trailer*,*preview*,*teaser*,*TELE-SYNC*,*TC*,*TCL*,*TELECINE*,*HDCAM*,*HD-CAM*,*SCREENER*,*DVDSCR*,*DVD-SCR*,*BDSCR*,*BD-SCR*,*R5*,*R6*,*HDTS*,*HD-TS*,*SuccessfulCrab*,*CC-HD*,*TS*,*TELESYNC*,*TELE-CINE*,*WP*,*HDTC*,*WORKPRINT*,*HD-TC*
Session\GlobalMaxRatio=1
Session\GlobalMaxSeedingMinutes=10080
Session\IgnoreSlowTorrentsForQueueing=true
Session\MaxSeedingTimeEnabled=true
Session\Interface=tun0
Session\InterfaceName=tun0
Session\MaxActiveDownloads=50
Session\MaxActiveTorrents=100
Session\MaxActiveUploads=50
Session\MaxConnections=-1
Session\MaxConnectionsPerTorrent=-1
Session\MaxUploads=-1
Session\MaxUploadsPerTorrent=-1
Session\PerformanceWarning=true
Session\Port=48977
Session\QueueingSystemEnabled=true
Session\SSL\Port=23061
Session\ShareLimitAction=Stop
Session\SubcategoriesEnabled=true

[Core]
AutoDeleteAddedTorrentFile=Never

[Meta]
MigrationVersion=8

[Network]
Cookies=@Invalid()

[Preferences]
Connection\Interface=tun0
Connection\InterfaceName=tun0
Connection\PortRangeMin=6881
Connection\UPnP=false
General\Locale=en
General\UseRandomPort=false
MailNotification\req_auth=true
WebUI\Address=*
WebUI\AuthSubnetWhitelist=10.0.0.0/8, 192.168.0.0/16, 172.16.0.0/12
WebUI\AuthSubnetWhitelistEnabled=true
WebUI\CSRFProtection=false
WebUI\LocalHostAuth=false
WebUI\Password_PBKDF2="@ByteArray(WG0F7ZFH4paq4GP5uGETgw==:vePH0uzNy1iAGOH1340nt6XJk3uWP4i2BZAEiAfZYT5CnPKHKcaGa8eXIahakenc8o8ApWwj6Q6kZZrvSlqH7A==)"
WebUI\ServerDomains=*
WebUI\UseUPnP=false
WebUI\Username=root

[RSS]
AutoDownloader\DownloadRepacks=true
AutoDownloader\SmartEpisodeFilter=s(\\d+)e(\\d+), (\\d+)x(\\d+), "(\\d{4}[.\\-]\\d{1,2}[.\\-]\\d{1,2})", "(\\d{1,2}[.\\-]\\d{1,2}[.\\-]\\d{4})"
Session\EnableProcessing=true
